<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>{{ title }}</title>
	<meta name="description" content="SEO Description">
	<link rel="stylesheet" href="css/inline.css">
</head>
<body>
	<div class="global__wrapper">
	<!-- ================================================================ -->
	<!-- ============================ header ============================ -->
	<!-- ================================================================ -->
	<header class="header" id="header">
		<div class="container">
			<div class="header__content">
				<a href="/" class="header__logo">
					<img data-lazy-src="img/logo.svg" alt="Спецводстрой">
				</a>
				<div class="header__city">
					<div class="header__city__head">
						<div class="header__city__title">Казань</div>
						<svg class="header__city__icon" width="6" height="4" viewBox="0 0 6 4" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M2.63274 3.60246C2.8307 3.81676 3.16933 3.81676 3.36729 3.60246L5.68883 1.08932C5.98465 0.769083 5.75752 0.250048 5.32155 0.250048L0.678478 0.250048C0.242512 0.250048 0.0153767 0.769083 0.311202 1.08932L2.63274 3.60246Z" fill="#315283"/>
						</svg>
					</div>
				</div>
				<div class="header__contact header__contact-adress">
					<div class="header__contact__icon" data-lazy-bg="img/header-contact-1.svg"></div>				
					<div class="header__contact__text">
						<div class="header__contact__label">Наш адрес</div>
						<div class="header__contact__title">Казань, ул.Журналистов д. 62, пом. 230 этаж 2</div>
						<a href="/" class="header__contact__link">Проложить маршрут</a>
					</div>
				</div>
				<div class="header__contact">
					<div class="header__contact__icon" data-lazy-bg="img/header-contact-2.svg"></div>				
					<div class="header__contact__text">
						<div class="header__contact__label">Отдел продаж</div>
						<div class="header__contact__title">
							<a href="tel:+7 (843) 258-46-00">+7 (843) 258-46-00</a>
						</div>
					</div>
				</div>
				<a href="/" target="_blank" class="btn header__btn-whatsapp">Написать WhatsApp</a>
				<button class="header__hamburger"></button>
			</div>
		</div>
	</header>
	<!-- ================================================================ -->
	<!-- ======================== END header ============================ -->
	<!-- ================================================================ -->

	<!-- ================================================================ -->
	<!-- ============================ navbar ============================ -->
	<!-- ================================================================ -->
	<section class="navbar">
		<div class="container">
			<div class="navbar__content">
				<ul class="navbar__links">
					<li><a href="#header" data-scroll>Главная</a></li>
					<li><a href="#products" data-scroll>Бурение скважин</a></li>
					<li><a href="#promotion" data-scroll>Обустройство скважин</a></li>
					<li><a href="#sizes" data-scroll>Ремонт скважин</a></li>
					<li><a href="#faq" data-scroll>Лицензирование скважин</a></li>
					<li><a href="#reviews" data-scroll>Дополнительные услуги</a></li>
					<li><a href="#contacts" data-scroll>Контакты</a></li>
				</ul>
			</div>
		</div>
	</section>
	<!-- ================================================================ -->
	<!-- ======================== END navbar ============================ -->
	<!-- ================================================================ -->
	{% block content %}
		
	{% endblock %}
	<!-- ================================================================ -->
	<!-- ========================== footer ============================== -->
	<!-- ================================================================ -->
	<footer class="footer">
		<div class="container">
			<div class="footer__main">
				<a href="" class="footer__logo">
					<img src="img/logo-white.svg" alt="">
				</a>
				<div class="footer__nav">
					<div class="footer__nav__title">Бурение скважин</div>
					<ul class="footer__nav__links">
						<li><a href="">Бурение абиссинской скважины</a></li>
						<li><a href="">Бурение скважины на песок</a></li>
						<li><a href="">Абиссинские источники</a></li>
					</ul>
				</div>
				<div class="footer__nav">
					<div class="footer__nav__title">Обустройство скважин</div>
					<ul class="footer__nav__links">
						<li><a href="">Летнее обустройство</a></li>
						<li><a href="">Обустройство с адаптером</a></li>
						<li><a href="">Обустройство с кессоном</a></li>
					</ul>
				</div>
				<div class="footer__nav">
					<div class="footer__nav__title">Ремонт скважин</div>
					<ul class="footer__nav__links">
						<li><a href="">Ремонт скважин на воду</a></li>
						<li><a href="">Чистка скважины на воду</a></li>
						<li><a href="">Замена насоса</a></li>
					</ul>
				</div>
				<div class="footer__contacts">
					<div class="footer__contacts__title">Наши контакты</div>
					<div class="footer__contact">
						<div class="footer__contact__title">Наш адрес:</div>
						<div class="footer__contact__value">Казань, ул.Журналистов, д. 62, <br> пом. 230 этаж 2</div>
						<a href="" class="footer__contact__link">Схема проезда</a>
					</div>
					<div class="footer__contact">
						<div class="footer__contact__title">Отдел продаж:</div>
						<ul class="footer__contact__phones">
							<li>
								<a href="tel:+7 (843) 258-46-00" class="footer__contact__phone">
									+7 (843) 258-46-00
								</a>
							</li>
							<li>
								<a href="tel:+7 (960) 048-46-00" class="footer__contact__phone">
									+7 (960) 048-46-00
								</a>
							</li>
						</ul>
					</div>
					<a href="" class="btn footer__contact__btn">Написать нам WhatsApp</a>
				</div>
			</div>
			<div class="footer__bottom">
				<div class="footer__bottom__copyright">Буровая компания "Спецводстрой" © 2008 - 2021</div>
				<a href="" class="footer__bottom__politics">Политика конфиденциальности</a>
			</div>
		</div>
	</footer>
	<!-- ================================================================ -->
	<!-- ====================== END footer ============================== -->
	<!-- ================================================================ -->
	</div>
	<link rel="stylesheet" href="css/main.css">
	<script src="js/main.js"></script>

	<script>
		// ======================= modal__form ====================== //
        $("form[data-validate='hero_form']").each(function (i, el) {
            $(el).validate({
                rules: {
                    phone: "phone",
                    name: {
                        required: true
                    },
                },
                messages: {
                    name: {
                        required: "Введите ваше имя"
                    },
                },
                submitHandler: function(form) {
                    var data = $(form).serialize();
                    console.log('Валидно');
                    
                }
            });
        });
        // =================== END modal__form ====================== //
	</script>
</body>
</html>
