<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>{{ title }}</title>
	<meta name="description" content="SEO Description">
	<link rel="stylesheet" href="css/inline.css">
</head>
<body>
	<div class="global__wrapper">
	<!-- ================================================================ -->
	<!-- ============================ header ============================ -->
	<!-- ================================================================ -->
	<header class="header" id="header">
		<div class="container">
			<div class="header__content">
				<a href="/" class="header__logo">
					<img data-lazy-src="img/logo.svg" alt="Спецводстрой">
				</a>
				<div class="header__city">
					<div class="header__city__head">
						<div class="header__city__title">Казань</div>
						<svg class="header__city__icon" width="6" height="4" viewBox="0 0 6 4" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M2.63274 3.60246C2.8307 3.81676 3.16933 3.81676 3.36729 3.60246L5.68883 1.08932C5.98465 0.769083 5.75752 0.250048 5.32155 0.250048L0.678478 0.250048C0.242512 0.250048 0.0153767 0.769083 0.311202 1.08932L2.63274 3.60246Z" fill="#315283"/>
						</svg>
					</div>
					<div class="header__city__panel__wrapper">
						<div class="header__city__panel">
							<ul class="header__city__panel__items">
								<li><a href="">Альметьевск</a></li>
								<li><a href="">Казань</a></li>
								<li><a href="">Набережные Челны</a></li>
								<li><a href="">Нижнекамск</a></li>
								<li><a href="">Чистополь</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="header__contact header__contact-adress">
					<div class="header__contact__icon" data-lazy-bg="img/header-contact-1.svg"></div>				
					<div class="header__contact__text">
						<div class="header__contact__label">Наш адрес</div>
						<div class="header__contact__title">Казань, ул.Журналистов д. 62, пом. 230 этаж 2</div>
						<a href="/" class="header__contact__link">Проложить маршрут</a>
					</div>
				</div>
				<div class="header__contact">
					<div class="header__contact__icon" data-lazy-bg="img/header-contact-2.svg"></div>				
					<div class="header__contact__text">
						<div class="header__contact__label">Отдел продаж</div>
						<div class="header__contact__title">
							<a href="tel:+7 (843) 258-46-00">+7 (843) 258-46-00</a>
						</div>
					</div>
				</div>
				<a href="/" target="_blank" class="btn header__btn-whatsapp">Написать WhatsApp</a>
				<button class="header__hamburger"></button>
			</div>
		</div>
	</header>
	<!-- ================================================================ -->
	<!-- ======================== END header ============================ -->
	<!-- ================================================================ -->

	<!-- ================================================================ -->
	<!-- ============================ navbar ============================ -->
	<!-- ================================================================ -->
	<section class="navbar">
		<div class="container">
			<div class="navbar__content">
				<ul class="navbar__links">
					<li><a href="#header">Главная</a></li>
					<li>
						<a href="#products">Бурение скважин</a>
						<div class="navbar__links__submenu__wrapper">
							<ul class="navbar__links__submenu">
								<li><a href="">Бурение абиссинской скважины</a></li>
								<li><a href="">Бурение скважины на песок</a></li>
								<li><a href="">Абиссинские источники</a></li>
							</ul>
						</div>
					</li>
					<li><a href="#promotion">Обустройство скважин</a></li>
					<li><a href="#sizes">Ремонт скважин</a></li>
					<li><a href="#faq">Лицензирование скважин</a></li>
					<li><a href="#reviews">Дополнительные услуги</a></li>
					<li><a href="#contacts">Контакты</a></li>
				</ul>
			</div>
		</div>
	</section>
	<!-- ================================================================ -->
	<!-- ======================== END navbar ============================ -->
	<!-- ================================================================ -->
	{% block content %}
		
	{% endblock %}
	<!-- ================================================================ -->
	<!-- ========================== footer ============================== -->
	<!-- ================================================================ -->
	<footer class="footer">
		<div class="container">
			<div class="footer__main">
				<a href="" class="footer__logo">
					<img src="img/logo-white.svg" alt="">
				</a>
				<div class="footer__nav">
					<div class="footer__nav__title">Бурение скважин</div>
					<ul class="footer__nav__links">
						<li><a href="">Бурение абиссинской скважины</a></li>
						<li><a href="">Бурение скважины на песок</a></li>
						<li><a href="">Абиссинские источники</a></li>
					</ul>
				</div>
				<div class="footer__nav">
					<div class="footer__nav__title">Обустройство скважин</div>
					<ul class="footer__nav__links">
						<li><a href="">Летнее обустройство</a></li>
						<li><a href="">Обустройство с адаптером</a></li>
						<li><a href="">Обустройство с кессоном</a></li>
					</ul>
				</div>
				<div class="footer__nav">
					<div class="footer__nav__title">Ремонт скважин</div>
					<ul class="footer__nav__links">
						<li><a href="">Ремонт скважин на воду</a></li>
						<li><a href="">Чистка скважины на воду</a></li>
						<li><a href="">Замена насоса</a></li>
					</ul>
				</div>
				<div class="footer__contacts">
					<div class="footer__contacts__title">Наши контакты</div>
					<div class="footer__contact">
						<div class="footer__contact__title">Наш адрес:</div>
						<div class="footer__contact__value">Казань, ул.Журналистов, д. 62, <br> пом. 230 этаж 2</div>
						<a href="" class="footer__contact__link">Схема проезда</a>
					</div>
					<div class="footer__contact">
						<div class="footer__contact__title">Отдел продаж:</div>
						<ul class="footer__contact__phones">
							<li>
								<a href="tel:+7 (843) 258-46-00" class="footer__contact__phone">
									+7 (843) 258-46-00
								</a>
							</li>
							<li>
								<a href="tel:+7 (960) 048-46-00" class="footer__contact__phone">
									+7 (960) 048-46-00
								</a>
							</li>
						</ul>
					</div>
					<a href="" class="btn footer__contact__btn">Написать нам WhatsApp</a>
				</div>
			</div>
			<div class="footer__bottom">
				<div class="footer__bottom__copyright">Буровая компания "Спецводстрой" © 2008 - 2021</div>
				<a href="" class="footer__bottom__politics">Политика конфиденциальности</a>
			</div>
		</div>
	</footer>
	<!-- ================================================================ -->
	<!-- ====================== END footer ============================== -->
	<!-- ================================================================ -->
	<!-- ================================================================ -->
	<!-- ========================= mobilenav ============================ -->
	<!-- ================================================================ -->
	<section class="mobilenav">
		<div class="mobilenav__city">
			<div class="mobilenav__city__head">
				<div class="mobilenav__city__head__title">Казань</div>
				<svg class="mobilenav__city__head__icon" width="9" height="5" viewBox="0 0 9 5" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M4.15663 4.1756C4.34934 4.35766 4.65066 4.35766 4.84337 4.1756L8.3492 0.86345C8.678 0.552814 8.45816 0 8.00583 0L0.994173 0C0.541841 0 0.322001 0.552815 0.650801 0.86345L4.15663 4.1756Z" fill="#315283"/>
				</svg>
			</div>
			<div class="mobilenav__city__items">
				<a href="" class="mobilenav__city__item">Москва</a>
				<a href="" class="mobilenav__city__item">Санкт-Петербург</a>
				<a href="" class="mobilenav__city__item">Самара</a>
				<a href="" class="mobilenav__city__item">Казань</a>
				<a href="" class="mobilenav__city__item">Челябинск</a>
			</div>
		</div>
		<ul class="mobilenav__links">
			<li>
				<a href="#herolanding">Главная</a>
			</li>
			<li><a href="#products" data-scroll>Наша продукция</a></li>
			<li><a href="#promotion" data-scroll>Акции</a></li>
			<li><a href="#sizes" data-scroll>Цены</a></li>
			<li><a href="#faq" data-scroll>Вопросы/Ответы</a></li>
			<li><a href="#reviews" data-scroll>Отзывы</a></li>
			<li><a href="#contacts" data-scroll>Контакты</a></li>
		</ul>
		<div class="mobilenav__contact">
			<div class="mobilenav__contact__label">Отдел продаж</div>
			<div class="mobilenav__contact__items">
				<a href="tel:+7 (843) 258-46-00" class="mobilenav__contact__item">
					+7 (843) 258-46-00
				</a>
				<a href="tel:+7 (960) 048-46-00" class="mobilenav__contact__item">
					+7 (960) 048-46-00
				</a>
			</div>
		</div>
		<a href="" class="btn mobilenav__btn">Написать нам WhatsApp</a>
		<div class="mobilenav__contact">
			<div class="mobilenav__contact__label">Работаем c ПН-ПТ:</div>
			<div class="mobilenav__contact__items">
				<div class="mobilenav__contact__item">
					с 09:00 до 18:00
				</div>
			</div>
		</div>
		<div class="mobilenav__contact">
			<div class="mobilenav__contact__label">Наш адрес:</div>
			<div class="mobilenav__contact__items">
				<div class="mobilenav__contact__item">
					Казань, ул.Журналистов, д. 62, пом. 230 этаж 2
				</div>
			</div>
		</div>
	</section>
	<!-- ================================================================ -->
	<!-- ===================== END mobilenav ============================ -->
	<!-- ================================================================ -->

	<!-- ================================================================ -->
	<!-- ============================ modals ============================ -->
	<!-- ================================================================ -->
	<div class="modal__wrapper" data-modal="1">
		<div class="modal">
			<div class="alert"></div>
			<div class="modal__close" data-modal-close="1"></div>
			<div class="modal__title">Оставьте заявку на бесплатную консультацию!</div>
			<div class="modal__desc">Оставьте заявку, что бы наше менеджер мог связаться с вами и проконсультровать</div>
			<form action="" class="modal__form" data-validate='modal__form'>
				<input type="text" placeholder="Введите имя" name="name">
				<input type="text" placeholder="Введите телефон" name="phone">
				<button class="btn">Получить консультацию</button>
				<div class="modal__form__politics">
					<label for="4" class="checkbox">
						<input class="form__checkbox__politics" type="checkbox" id="4" checked>
						<span class="checkbox__custom">
							<span class="checkbox__custom__circle"></span>
						</span>
					</label>
					<div class="modal__form__politics__title">
						Оставляя заявку Вы соглашаетесь с <a href="">политикой конфинденциальности</a>
					</div>
				</div>
			</form>
		</div>
	</div>
	<div class="modal__wrapper" data-modal="2">
		<div class="modal">
			<div class="alert"></div>
			<div class="modal__close" data-modal-close="2"></div>
			<div class="modal__product__image"></div>
			<div class="modal__title">Заказать пластиковый кессон “Тритон М-1”</div>
			<div class="modal__desc">Оставьте заявку, что бы наше менеджер мог связаться с вами и проконсультровать</div>
			<form action="" class="modal__form" data-validate='modal__form'>
				<input type="hidden" name="product">
				<input type="text" placeholder="Введите имя" name="name">
				<input type="text" placeholder="Введите телефон" name="phone">
				<button class="btn">Получить консультацию</button>
				<div class="modal__form__politics">
					<label for="4" class="checkbox">
						<input class="form__checkbox__politics" type="checkbox" id="4" checked>
						<span class="checkbox__custom">
							<span class="checkbox__custom__circle"></span>
						</span>
					</label>
					<div class="modal__form__politics__title">
						Оставляя заявку Вы соглашаетесь с <a href="">политикой конфинденциальности</a>
					</div>
				</div>
			</form>
		</div>
	</div>
	<!-- ================================================================ -->
	<!-- ======================== END modals ============================ -->
	<!-- ================================================================ -->
	</div>
	<link rel="stylesheet" href="css/main.css">
	<script src="js/main.js"></script>

	<script>
		// ======================= modal__form ====================== //
        $("form[data-validate='hero_form']").each(function (i, el) {
            $(el).validate({
                rules: {
                    phone: "phone",
                    name: {
                        required: true
                    },
                },
                messages: {
                    name: {
                        required: "Введите ваше имя"
                    },
                },
                submitHandler: function(form) {
                    var data = $(form).serialize();
                    console.log('Валидно');
                    
                }
            });
        });
        // =================== END modal__form ====================== //
		// ======================= modal__form ====================== //
        $("form[data-validate='modal__form']").each(function (i, el) {
            $(el).validate({
                rules: {
                    phone: "phone",
                    name: {
                        required: true
                    },
                    datetime: {
                        required: true
                    },
                },
                messages: {
                    name: {
                        required: "Введите ваше имя"
                    },
                    name: {
                        required: "Введите дату и время"
                    },
                },
                submitHandler: function(form) {
                    var data = $(form).serialize();
                    console.log('Валидно');
                    
                }
            });
        });
        // =================== END modal__form ====================== //
		// ======================= modal__form ====================== //
        $("form[data-validate='formblock__form']").each(function (i, el) {
            $(el).validate({
                rules: {
                    phone: "phone",
                    name: {
                        required: true
                    },
                    datetime: {
                        required: true
                    },
                },
                messages: {
                    name: {
                        required: "Введите ваше имя"
                    },
                    name: {
                        required: "Введите дату и время"
                    },
                },
                submitHandler: function(form) {
                    var data = $(form).serialize();
                    console.log('Валидно');
                    
                }
            });
        });
        // =================== END modal__form ====================== //

		
	</script>
</body>
</html>
