.navbar {
    background-color: @blue;
    height: 50rem;
    &.headhesive {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        
        padding: 1.5rem 0;
        z-index: 3;
        transition: 0.2s;
        transform: translateY(-100%);
        z-index: 4;
    }
    &.headhesive--unstick {
        transform: translateY(-100%);
    }
    &.headhesive--stick {
        transform: translateY(0);
        box-shadow: 0px 10px 20px rgba(99, 56, 162, 0.1);
    }
}

.navbar__links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    a {
        color: white;
        font-size: 14rem;
        font-weight: 600;
        text-decoration: none;
        height: 50rem;
        display: block;
        line-height: 50rem;
    }
}



// ==============================================//
// ================= MEDIA ======================//
// ==============================================//

@media screen and (max-width: 800px) {
    .navbar {
        display: none;
    }
    .header__btn-whatsapp {
        display: none;
    }
}

// ==============================================//
// ============= END MEDIA ======================//
// ==============================================//