@import "partials/_fonts.less";

@blue: #315283;
@black: #141414;
@orange: #ff4c0c;

* {
    margin: 0;
    padding: 0;
    outline: none;
    list-style-type: none;
    box-sizing: border-box;
    font-family: "Open Sans", "Arial", sans-serif;
    text-decoration: none;
}

html {
    font-size: 1px;
}

body {
    font-size: 16rem;
    &.overflowhidden {
        overflow-y: hidden;
    }
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.global__wrapper {
    overflow: hidden;
}

.container {
    max-width: 1340rem;
    padding: 0 30rem;
    margin: 0 auto;
}

.btn {
    background: radial-gradient(
            47.41% 82.95% at 51.46% -4.55%,
            rgba(255, 255, 255, 0.4) 0%,
            rgba(255, 255, 255, 0.4) 0.01%,
            rgba(255, 255, 255, 0) 100%
        ),
        #ff4c0c;
    box-shadow: 0px 4px 4px rgba(255, 71, 13, 0.3);
    border-radius: 5px;
    color: white;
    font-size: 14rem;
    padding: 16rem 20rem;
    text-decoration: none;
    font-weight: 600;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    position: relative;
    &:hover {
        background: radial-gradient(
                47.41% 82.95% at 51.46% -4.55%,
                rgba(255, 255, 255, 0.4) 0%,
                rgba(255, 255, 255, 0.4) 0.01%,
                rgba(255, 255, 255, 0) 100%
            ),
            #ce5023;
    }
    &.blue {
        background: radial-gradient(
                47.41% 82.95% at 51.46% -4.55%,
                rgba(255, 255, 255, 0.4) 0%,
                rgba(255, 255, 255, 0.4) 0.01%,
                rgba(255, 255, 255, 0) 100%
            ),
            #315283;
        box-shadow: none;
    }
    &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }
    &.load {
        &:before {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: radial-gradient(
                47.41% 82.95% at 51.46% -4.55%,
                rgba(255, 255, 255, 0.4) 0%,
                rgba(255, 255, 255, 0.4) 0.01%,
                rgba(255, 255, 255, 0) 100%
            ),
            #ff4c0c;
            border-radius: 5px;
        }
        &:after {
            content: '';
            display: block;
            position: absolute;
            left: 50%;
            top: 50%;
            width: 20rem;
            height: 20rem;
            border: 2rem solid white;
            border-top-color: transparent;
            transform: translate(-50%, -50%);
            border-radius: 100%;
            animation: load_btn 0.7s linear infinite;
        }
    }
}


@keyframes load_btn {
    0% {
        transform: translate(-50%, -50%) rotate(0);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.btn-icon {
    font-size: 18rem;
    padding: 24rem 30rem;
    // height: 70rem;
    padding-right: 70rem;
    position: relative;
}
.btn-icon__icon {
    position: absolute;
    right: -10rem;
    top: 0;
    width: 70rem;
    height: 70rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

input {
    height: 52rem;
    padding-left: 20rem;
    padding-right: 20rem;
    font-size: 14rem;
    border: 1px solid #efefef;
    border-radius: 5rem;
    background: rgba(245, 245, 245, 0.5);
    font-weight: 600;
    color: @black;
    width: 100%;
    &::placeholder {
        color: #b5b5b5;
        font-weight: 600;
    }
    &.error {
        border: 1px solid #feacac;
        color: #ec3d3d;
        &::placeholder {
            color: #ec3d3d;
        }
    }
    &.valid {
        border: 1px solid #9fca9c;
    }
}

label.error {
    display: none !important;
}

.sec__title {
    font-size: 40rem;
    font-weight: bold;
    color: @black;
    &.center {
        text-align: center;
    }
}

.sec__desc {
    font-size: 18rem;
    margin-top: 10rem;
    &.center {
        text-align: center;
    }
}
.text-orange {
    color: @orange;
    font-weight: normal;
    margin-top: 10rem;
}
.text-blue {
    color: @blue;
    font-weight: normal;
    margin-top: 10rem;
}

// ============================================================= //
// ======================= checkbox ============================ //
// ============================================================= //
.checkbox {
    cursor: pointer;
    input {
        display: none;
        &:checked + .checkbox__custom {
            background-color: #56b65f;
            .checkbox__custom__circle {
                background-color: #fff;
                transform: translateX(10rem);
            }
        }
    }
}
.checkbox__custom {
    display: block;
    width: 22rem;
    min-width: 22rem;
    height: 12rem;
    border-radius: 100rem;
    background-color: #e0e5ec;
    position: relative;
    transition: 0.3s;
}

.checkbox__custom__circle {
    display: block;
    width: 8rem;
    min-width: 8rem;
    height: 8rem;
    border-radius: 100%;
    background-color: #b1bbca;
    position: absolute;
    left: 2rem;
    top: 2rem;
    transition: 0.3s;
}
// ============================================================= //
// ======================= checkbox ============================ //
// ============================================================= //

.parallax {
    position: absolute;
}
.parallax__img {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.bg-image-contain {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.bg-image-cover {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

@import "partials/_header.less";
@import "partials/_navbar.less";
@import "partials/_hero.less";
@import "partials/_anchors.less";
@import "partials/_preims.less";
@import "partials/_quizblock.less";
@import "partials/_contacts.less";
@import "partials/_ourwork.less";
@import "partials/_onework.less";

@media screen and (max-width: 1200px) {
    html {
        font-size: 0.8px;
    }
}

@media screen and (max-width: 1000px) {
    html {
        font-size: 0.7px;
    }
}

@media screen and (max-width: 850px) {
    html {
        font-size: 1px;
    }
    .global__wrapper {
        padding-top: 59rem;
    }
    .sec__title {
        font-size: 24rem;
    }
    .sec__desc {
        font-size: 14rem;
    }
    .btn-icon {
        font-size: 14rem;
        padding: 15rem 20rem;
        padding-right: 45rem;
    }
    .btn-icon__icon {
        width: 45rem;
        height: 45rem;
    }
}

@media screen and (max-width: 500px) {
    .container {
        padding: 0 16rem;
    }
}
