@blue: #315283;
@black: #141414;
@orange: #ff4c0c;


// =============== Libs ===================== //
@import "libs/datepicker.min.css";
@import "libs/jquery.fancybox.min.css";
@import "libs/owl.carousel.min.css";
// =============== END Libs ===================== //

@import "partials/_about.less";
@import "partials/_footer.less";
@import "partials/_editor.less";
@import "partials/_sertificates.less";
@import "partials/_promotion.less";
@import "partials/_typewells.less";
@import "partials/_additionalservices.less";
@import "partials/_drillingmethods.less";
@import "partials/_etaps.less";
@import "partials/_formblock.less";
@import "partials/_command.less";
@import "partials/_clients.less";
@import "partials/_worksmap.less";
@import "partials/_reviews.less";
@import "partials/_faq.less";
@import "partials/_mobilenav.less";
@import "partials/_modals.less";
@import "partials/_reasons.less";
@import "partials/_typesoflicenses.less";
@import "partials/_typerepairs.less";
@import "partials/_canvasblock.less";
@import "partials/_populars.less";
@import "partials/_wzu.less";
@import "partials/_whatdoeswzu.less";
@import "partials/_team.less";
@import "partials/_solutionandcost.less";

.bg-white {
    background-color: #fff;
}

.sec {
    padding-top: 50rem;
    padding-bottom: 50rem;
    &.white {
        background-color: #fff;
    }
    &.blue {
        background-color: #fafbfd;
    }
}



.alert {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0.9);
    border-radius: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
    display: none;
    border-radius: 5rem;
    &:before {
        content: '';
        display: block;
        width: 45rem;
        height: 45rem;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }
    &:after {
        content: '';
        font-size: 16rem;
        font-weight: 600;
        color: @black;
        margin-top: 19rem;
        text-align: center;
    }
    &.success {
        display: flex;
        &:before {
            background-image: url(/static/img/alert-success.svg);
        }
        &:after {
            content: 'Сообщение отправлено';
        }
    }
    &.error {
        display: flex;
        &:before {
            background-image: url(/static/img/alert-error.svg);
        }
        &:after {
            content: "Ошибка! \0a Попробуйте еще раз!";
            white-space: pre;
        }
    }
    &.load {
        display: flex;
        &:before {
            border: 4rem solid #E5E5E5;
            border-radius: 100%;
            border-top-color: #16990B;
            animation: load 0.7s linear infinite;
        }
        &:after {
            content: 'Отправка сообщения';
        }
    }
}





@keyframes load {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 850px) {
    .sec {
        padding-top: 30rem;
        padding-bottom: 30rem;
    }
}
