@blue: #315283;
@black: #141414;
@orange: #FF4C0C;

@import "libs/jquery.fancybox.min.css";
@import "libs/owl.carousel.min.css";

@import "partials/_about.less";
@import "partials/_footer.less";
@import "partials/_editor.less";
@import "partials/_sertificates.less";
@import "partials/_promotion.less";
@import "partials/_typewells.less";
@import "partials/_additionalservices.less";
@import "partials/_drillingmethods.less";
@import "partials/_etaps.less";
@import "partials/_formblock.less";
