<!-- ================================================================ -->
<!-- ========================== anchors ============================= -->
<!-- ================================================================ -->
<section class="anchors">
    <div class="container">
        <div class="anchors__content">
            <ul class="anchors__links">
                <li><a href="">О компании</a></li>
                <li><a href="">Акции</a></li>
                <li><a href="">На что бурим</a></li>
                <li><a href="">Способы бурения</a></li>
                <li><a href="">Этапы работ</a></li>
                <li><a href="">Наша команда</a></li>
                <li><a href="">Выполненые работы</a></li>
                <li><a href="">Отзывы</a></li>
            </ul>
        </div>
    </div>
</section>
<!-- ================================================================ -->
<!-- ====================== END anchors ============================= -->
<!-- ================================================================ -->