<!-- ================================================================ -->
<!-- ========================== anchors ============================= -->
<!-- ================================================================ -->
<section class="anchors">
    <div class="container">
        <div class="anchors__content">
            <ul class="anchors__links">
                <li><a data-scroll href="#about">О компании</a></li>
                <li><a data-scroll href="#promotion">Акции</a></li>
                <li><a data-scroll href="#typewells">На что бурим</a></li>
                <li>
                    <a data-scroll href="#drillingmethods">Способы бурения</a>
                </li>
                <li><a data-scroll href="#etaps">Этапы работ</a></li>
                <li><a data-scroll href="#command">Наша команда</a></li>
                <li><a data-scroll href="#worksmap">Выполненые работы</a></li>
                <li><a data-scroll href="#reviews">Отзывы</a></li>
            </ul>
        </div>
    </div>
</section>
<!-- ================================================================ -->
<!-- ====================== END anchors ============================= -->
<!-- ================================================================ -->
