<!-- ================================================================ -->
<!-- ========================= clients ============================== -->
<!-- ================================================================ -->
<section class="clients">
    <div class="container">
        <div class="clients__content">
            <h2 class="sec__title center">Организаций, с которыми сотрудничаем долгие годы</h2>
            <div class="clients__slider__wrapper">
                <div class="clients__slider owl-carousel">
                    <div class="clients__slider__item" data-lazy-bg="img/client-1.png"></div>
                    <div class="clients__slider__item" data-lazy-bg="img/client-2.png"></div>
                    <div class="clients__slider__item" data-lazy-bg="img/client-3.png"></div>
                    <div class="clients__slider__item" data-lazy-bg="img/client-1.png"></div>
                    <div class="clients__slider__item" data-lazy-bg="img/client-2.png"></div>
                    <div class="clients__slider__item" data-lazy-bg="img/client-3.png"></div>
                    <div class="clients__slider__item" data-lazy-bg="img/client-1.png"></div>
                    <div class="clients__slider__item" data-lazy-bg="img/client-2.png"></div>
                    <div class="clients__slider__item" data-lazy-bg="img/client-3.png"></div>
                </div>
                <div class="clients__slider__dots"></div>
            </div>
        </div>
    </div>
</section>
<!-- ================================================================ -->
<!-- ===================== END clients ============================== -->
<!-- ================================================================ -->