
<!-- ================================================================ -->
<!-- ========================= command ============================== -->
<!-- ================================================================ -->
<section class="command">
    <div class="container">
        <div class="command__content">
            <h2 class="sec__title center">Наша команда</h2>
            <div class="command__slider owl-carousel">
                {% for el in range(10) %}
                <!-- command__slider__item -->
                <div class="command__slider__item">
                    <div class="command__slider__item__img" style="background-image: url(img/comand.png);"></div>
                    <div class="command__slider__item__text">
                        <div class="command__slider__item__name">Константин Константинопольский</div>
                        <div class="command__slider__item__role">Заместитель директора</div>
                    </div>
                </div>
                <!-- END command__slider__item -->
                {% endfor %}
            </div>
            <div class="command__slider__dots"></div>
            <a href="" class="btn command__btn">Вся команда спецводстрой</a>
        </div>
    </div>
</section>
<!-- ================================================================ -->
<!-- ===================== END command ============================== -->
<!-- ================================================================ -->