<!-- ================================================================ -->
<!-- ======================= quizblock ============================== -->
<!-- ================================================================ -->
<section class="quizblock faq__quizblock">
    <div class="container">
        <div class="quizblock__content">
            <div class="quizblock__content__text">
                <div class="quizblock__content__title">Ого! Вы долистали до конца</div>
                <div class="quizblock__content__desc">Как раз для вас у нас есть подарок, его можно получить в один клик</div>
            </div>
            <button class="btn btn-icon">
                Получить подарок
                <div class="btn-icon__icon" style="background-image: url(img/btn-icon-2.png);"></div>
            </button>
        </div>
    </div>
</section>
<!-- ================================================================ -->
<!-- =================== END quizblock ============================== -->
<!-- ================================================================ -->