<!-- ================================================================ -->
<!-- ============================= faq ============================== -->
<!-- ================================================================ -->
<section class="faq" id="faq">
    <div class="container">
        <div class="faq__content">
            <h2 class="sec__title center">Ответы на часто задаваемые вопросы</h2>
            <div class="faq__items">
                <!-- faq__item -->
                <div class="faq__item">
                    <div class="faq__item__header">
                        <div class="faq__item__header__title">Сколько держит зарядку от аккумулятора?</div>
                        <svg class="faq__item__header__arrow" width="15" height="10" viewBox="0 0 15 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M-3.28645e-07 2.48148L2.37805 8.27375e-07L7.5 5.14815L12.622 3.796e-07L15 2.40741L7.53659 10L4.86585 7.2963L-3.28645e-07 2.48148Z" fill="#FF4C0C"/>
                        </svg>
                    </div>
                    <div class="faq__item__content">
                        Мы отправляем ваш заказ, Почтой России а так же можем отправить курьерской доставкой.
                    </div>
                </div>
                <!-- END faq__item -->
                <!-- faq__item -->
                <div class="faq__item">
                    <div class="faq__item__header">
                        <div class="faq__item__header__title">Как заказать?</div>
                        <svg class="faq__item__header__arrow" width="15" height="10" viewBox="0 0 15 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M-3.28645e-07 2.48148L2.37805 8.27375e-07L7.5 5.14815L12.622 3.796e-07L15 2.40741L7.53659 10L4.86585 7.2963L-3.28645e-07 2.48148Z" fill="#FF4C0C"/>
                        </svg>
                    </div>
                    <div class="faq__item__content">
                        Мы отправляем ваш заказ, Почтой России а так же можем отправить курьерской доставкой.
                    </div>
                </div>
                <!-- END faq__item -->
                <!-- faq__item -->
                <div class="faq__item">
                    <div class="faq__item__header">
                        <div class="faq__item__header__title">Как заказать?</div>
                        <svg class="faq__item__header__arrow" width="15" height="10" viewBox="0 0 15 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M-3.28645e-07 2.48148L2.37805 8.27375e-07L7.5 5.14815L12.622 3.796e-07L15 2.40741L7.53659 10L4.86585 7.2963L-3.28645e-07 2.48148Z" fill="#FF4C0C"/>
                        </svg>
                    </div>
                    <div class="faq__item__content">
                        Мы отправляем ваш заказ, Почтой России а так же можем отправить курьерской доставкой.
                    </div>
                </div>
                <!-- END faq__item -->
            </div>
        </div>
    </div>
</section>
<!-- ================================================================ -->
<!-- ========================= END faq ============================== -->
<!-- ================================================================ -->