<!-- ================================================================ -->
<!-- ======================= formblock ============================== -->
<!-- ================================================================ -->
<section class="formblock">
    <div class="container">
        <div class="formblock__content">
            <h2 class="sec__title">Выезд инженера на объект</h2>
            <p class="sec__desc">Оставьте заявку чтобы вызвать инженера на ваш объект</p>
            <form class="formblock__form" data-validate="formblock__form">
                <input name="name" type="text" placeholder="Введите имя">
                <input name="phone" type="text" placeholder="Введите телефон">
                <input name="datetime" type="text" placeholder="Дата и время">
                <div class="formblock__form__politics">
                    <label for="2" class="checkbox">
                        <input data-form-politics-checkbox="" class="form__checkbox__politics" type="checkbox" id="2" checked="">
                        <span class="checkbox__custom">
                            <span class="checkbox__custom__circle"></span>
                        </span>
                    </label>
                    <div class="formblock__form__politics__title">Оставляя заявку Вы соглашаетесь с <a href="">политикой конфинденциальности</a></div>
                </div>
                <button class="btn">Заказать выезд инженера</button>
            </form>
            <img src="img/formblock.png" alt="" class="formblock__img">
        </div>
    </div>
</section>
<!-- ================================================================ -->
<!-- =================== END formblock ============================== -->
<!-- ================================================================ -->