<!-- ================================================================ -->
<!-- ======================= promotion ============================== -->
<!-- ================================================================ -->
<section class="promotion" id="promotion" data-lazy-bg="img/promotion-bg.jpeg">
    <div class="container">
        <div class="promotion__content__wrapper">
            <div class="promotion__content__wrapper__parallax">
                <div class="promotion__content__wrapper__parallax__scene" data-parallax-scene>
                    <div class="promotion__content__wrapper__parallax__img" data-lazy-bg="img/promotion-parallax-1.png" data-depth="0.5"></div>
                </div>
            </div>
            <div class="promotion__content__wrapper__parallax">
                <div class="promotion__content__wrapper__parallax__scene" data-parallax-scene>
                    <div class="promotion__content__wrapper__parallax__img" data-lazy-bg="img/hero-form-parallax-2.png" data-depth="1"></div>
                </div>
            </div>
            <div class="promotion__content__wrapper__parallax">
                <div class="promotion__content__wrapper__parallax__scene" data-parallax-scene>
                    <div class="promotion__content__wrapper__parallax__img" data-lazy-bg="img/promotion-parallax-3.png" data-depth="0.3"></div>
                </div>
            </div>
            <div class="promotion__content">
                <div class="promotion__content__text">
                    <div class="promotion__content__text__triangle"></div>
                    <div class="promotion__content__label">Акция месяца</div>
                    <div class="promotion__content__title">Глубина больше - цена меньше</div>
                    <div class="promotion__content__desc">Чем больше метров мы бурим, тем меньше стоимость за метр бурения</div>
                    <button class="btn" data-modal-show="1">Уточнить у менеджера</button>
                </div>
                <div class="promotion__content__img" data-lazy-bg="img/promotion-img.jpeg"></div>
            </div>
        </div>
    </div>
</section>
<!-- ================================================================ -->
<!-- =================== END promotion ============================== -->
<!-- ================================================================ -->