<!-- ================================================================ -->
<!-- ======================= quizblock ============================== -->
<!-- ================================================================ -->
<section class="quizblock">
    <div class="container">
        <div class="quizblock__content">
            <div class="quizblock__content__text">
                <div class="quizblock__content__title">Ответьте на несколько вопросов</div>
                <div class="quizblock__content__desc">и мы подберем вариант скважины на воду под Ваши нужны! </div>
            </div>
            <button class="btn btn-icon">
                Получить выгодное предложение
                <div class="btn-icon__icon" style="background-image: url(img/btn-icon-1.png);"></div>
            </button>
        </div>
    </div>
</section>
<!-- ================================================================ -->
<!-- =================== END quizblock ============================== -->
<!-- ================================================================ -->