<!-- ================================================================ -->
<!-- ========================= reviews ============================== -->
<!-- ================================================================ -->
<section class="reviews" id="reviews">
    <div class="container">
        <div class="reviews__content">
            <h2 class="sec__title center">Отзывы о нашей работе</h2>
            <div class="reviews__slider__wrapper">
                <div class="reviews__slider owl-carousel">
                    <!-- reviews__slider__item -->
                    <div class="reviews__slider__item">
                        <div class="reviews__slider__item__left">
                            <div class="reviews__slider__item__img" data-lazy-bg="img/reviews.jpeg"></div>
                        </div>
                        <div class="reviews__slider__item__right">
                            <div class="reviews__slider__item__clientdata">
                                <div class="reviews__slider__item__clientdata__avatar" data-lazy-bg="img/reviews-avatar.jpeg"></div>
                                <div class="reviews__slider__item__clientdata__text">
                                    <div class="reviews__slider__item__clientdata__name">Александр и Юлия Баталловы</div>
                                    <div class="reviews__slider__item__clientdata__typework">Бурение и подвод воды в дом</div>
                                </div>
                            </div>
                            <div class="reviews__slider__item__right__text">
                                <p>Отзыв в текстовом формате
                                    Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн. Его популяризации в новое время послужили публикация листов Letraset с образцами Lorem Ipsum в 60-х годах и, в более недавнее время, программы электронной вёрстки типа Aldus PageMaker, в шаблонах которых используется Lorem Ipsum.</p>
                            </div>
                        </div>
                    </div>
                    <!-- END reviews__slider__item -->
                    <!-- reviews__slider__item -->
                    <div class="reviews__slider__item">
                        <div class="reviews__slider__item__left">
                            <div class="reviews__slider__item__video" data-lazy-bg="img/reviews.jpeg">
                                <div class="reviews__slider__item__video__play" data-lazy-bg="img/play.svg" ></div>
                            </div>
                        </div>
                        <div class="reviews__slider__item__right">
                            <div class="reviews__slider__item__clientdata">
                                <div class="reviews__slider__item__clientdata__avatar" data-lazy-bg="img/reviews-avatar.jpeg"></div>
                                <div class="reviews__slider__item__clientdata__text">
                                    <div class="reviews__slider__item__clientdata__name">Александр и Юлия Баталловы</div>
                                    <div class="reviews__slider__item__clientdata__typework">Бурение и подвод воды в дом</div>
                                </div>
                            </div>
                            <div class="reviews__slider__item__right__text">
                                <p>Отзыв в текстовом формате
                                    Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн. Его популяризации в новое время послужили публикация листов Letraset с образцами Lorem Ipsum в 60-х годах и, в более недавнее время, программы электронной вёрстки типа Aldus PageMaker, в шаблонах которых используется Lorem Ipsum.</p>
                            </div>
                        </div>
                    </div>
                    <!-- END reviews__slider__item -->
                </div>
                <div class="reviews__slider__dots"></div>
            </div>
        </div>
    </div>
</section>
<!-- ================================================================ -->
<!-- ===================== END reviews ============================== -->
<!-- ================================================================ -->