<!-- ================================================================ -->
<!-- ==================== sertificates ============================== -->
<!-- ================================================================ -->
<section class="sertificates">
    <div class="container">
        <div class="sertificates__content">
            <h2 class="sec__title center">Наши свидельства и сертификаты</h2>
            <div class="sertificates__slider__wrapper">
                <div class="sertificates__slider owl-carousel">
                    <a data-fancybox="sertificates" href="img/sertificate.jpeg">
                        <img data-lazy-src="img/sertificate.jpeg" alt="" />
                    </a>
                    <a data-fancybox="sertificates" href="img/sertificate.jpeg">
                        <img data-lazy-src="img/sertificate.jpeg" alt="" />
                    </a>
                    <a data-fancybox="sertificates" href="img/sertificate.jpeg">
                        <img data-lazy-src="img/sertificate.jpeg" alt="" />
                    </a>
                    <a data-fancybox="sertificates" href="img/sertificate.jpeg">
                        <img data-lazy-src="img/sertificate.jpeg" alt="" />
                    </a>
                    <a data-fancybox="sertificates" href="img/sertificate.jpeg">
                        <img data-lazy-src="img/sertificate.jpeg" alt="" />
                    </a>
                </div>
                <div class="sertificates__slider__dots"></div>
            </div>
        </div>
    </div>
</section>
<!-- ================================================================ -->
<!-- ================ END sertificates ============================== -->
<!-- ================================================================ -->
