{% set title = 'Главная' %} {% extends 'layouts/_main.html' %} {% block content
%}

<!-- ================================================================ -->
<!-- ============================= hero ============================= -->
<!-- ================================================================ -->
<section class="hero" style="background-image: url(img/hero-5.jpg)">
    <div class="container">
        <div class="hero__content">
            <div class="hero__text">
                <h1 class="hero__title">
                    Бурение скважин на песок универсальный
                </h1>
                <p class="hero__desc">
                    Глубина залегания песчаного водоносного слоя составляет от
                    20 до 50 м. (в некоторых районах присутствуют глубокие пески
                    от 70 до 100 м.
                </p>
                <ul
                    class="hero__bredcrumbs"
                    itemscope="bredcrumbs"
                    itemtype="http://schema.org/BreadcrumbList"
                >
                    <li
                        itemprop="itemListElement"
                        itemscope=""
                        itemtype="http://schema.org/ListItem"
                    >
                        <a href="/" itemprop="item">
                            <span itemprop="name">Главная</span>
                        </a>
                        <meta itemprop="position" content="1" />
                    </li>
                    <span class="hero__bredcrumbs__separator">/</span>
                    <li
                        itemprop="itemListElement"
                        itemscope=""
                        itemtype="http://schema.org/ListItem"
                    >
                        <a
                            href="/zally/banketnyj-zal-na-karbysheva/"
                            itemprop="item"
                        >
                            <span itemprop="name"
                                >Система очистки воды под ключ</span
                            >
                        </a>
                        <meta itemprop="position" content="2" />
                    </li>
                </ul>
            </div>
            <div class="hero__form">
                <div class="parallax">
                    <div class="parallax__scene" data-parallax-scene>
                        <div
                            class="parallax__img"
                            style="
                                background-image: url(img/hero-form-parallax-1.png);
                            "
                            data-depth="0.5"
                        ></div>
                    </div>
                </div>
                <div class="parallax">
                    <div class="parallax__scene" data-parallax-scene>
                        <div
                            class="parallax__img"
                            style="
                                background-image: url(img/hero-form-parallax-2.png);
                            "
                            data-depth="0.2"
                        ></div>
                    </div>
                </div>
                <div class="hero__form__title">
                    Оставьте заявку на бесплатную консультацию!
                </div>
                <form action="" data-validate="hero_form">
                    <div class="hero__form__input">
                        <input
                            name="phone"
                            type="text"
                            placeholder="Введите телефон"
                        />
                    </div>
                    <div class="hero__form__input">
                        <input
                            name="name"
                            type="text"
                            placeholder="Введите имя"
                        />
                    </div>
                    <div class="hero__form__input__politics">
                        <label for="1" class="checkbox">
                            <input
                                data-form-politics-checkbox
                                class="form__checkbox__politics"
                                type="checkbox"
                                id="1"
                                checked
                            />
                            <span class="checkbox__custom">
                                <span class="checkbox__custom__circle"></span>
                            </span>
                        </label>
                        <div class="hero__form__input__politics__title">
                            Оставляя заявку Вы соглашаетесь с
                            <a href="">политикой конфинденциальности</a>
                        </div>
                    </div>
                    <button class="btn">Получить консультацию</button>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- ================================================================ -->
<!-- ========================= END hero ============================= -->
<!-- ================================================================ -->
{% include 'partials/_anchors.html' %}
<!-- ================================================================ -->
<!-- =========================== preims ============================= -->
<!-- ================================================================ -->
<section class="preims">
    <div class="container">
        <div class="preims__content">
            <div class="preims__text">
                <h2 class="sec__title">Наши преимущества</h2>
                <ul class="preims__items">
                    <!-- preims__item -->
                    <li class="preims__item">
                        <div
                            class="preims__item__icon"
                            style="background-image: url(img/preims-1.svg)"
                        ></div>
                        <div class="preims__item__text">
                            <div class="preims__item__title">
                                Команда профессионалов
                            </div>
                            <div class="preims__item__desc">
                                Наши специалисты успешно занимаются бурением
                                скважин на воду более 15 лет и имеют только
                                положительные отзывы.
                            </div>
                        </div>
                    </li>
                    <!-- END preims__item -->
                    <!-- preims__item -->
                    <li class="preims__item">
                        <div
                            class="preims__item__icon"
                            style="background-image: url(img/preims-1.svg)"
                        ></div>
                        <div class="preims__item__text">
                            <div class="preims__item__title">
                                Команда профессионалов
                            </div>
                            <div class="preims__item__desc">
                                Наши специалисты успешно занимаются бурением
                                скважин на воду более 15 лет и имеют только
                                положительные отзывы.
                            </div>
                        </div>
                    </li>
                    <!-- END preims__item -->
                    <!-- preims__item -->
                    <li class="preims__item">
                        <div
                            class="preims__item__icon"
                            style="background-image: url(img/preims-1.svg)"
                        ></div>
                        <div class="preims__item__text">
                            <div class="preims__item__title">
                                Команда профессионалов
                            </div>
                            <div class="preims__item__desc">
                                Наши специалисты успешно занимаются бурением
                                скважин на воду более 15 лет и имеют только
                                положительные отзывы.
                            </div>
                        </div>
                    </li>
                    <!-- END preims__item -->
                    <!-- preims__item -->
                    <li class="preims__item">
                        <div
                            class="preims__item__icon"
                            style="background-image: url(img/preims-1.svg)"
                        ></div>
                        <div class="preims__item__text">
                            <div class="preims__item__title">
                                Команда профессионалов
                            </div>
                            <div class="preims__item__desc">
                                Наши специалисты успешно занимаются бурением
                                скважин на воду более 15 лет и имеют только
                                положительные отзывы.
                            </div>
                        </div>
                    </li>
                    <!-- END preims__item -->
                </ul>
            </div>
            <div class="preims__img__wrapper">
                <div
                    class="preims__img"
                    style="background-image: url(img/preims-big.png)"
                >
                    <div class="parallax">
                        <div class="parallax__scene" data-parallax-scene>
                            <div
                                class="parallax__img"
                                style="
                                    background-image: url(img/preims-parallax.png);
                                "
                                data-depth="0.5"
                            ></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ================================================================ -->
<!-- ======================= END preims ============================= -->
<!-- ================================================================ -->
{% include 'partials/_quizblock.html' %}
<!-- ================================================================ -->
<!-- =========================== about ============================== -->
<!-- ================================================================ -->
<section class="about" id="about">
    <div class="container">
        <div class="about__content">
            <div class="about__left__video__wrapper">
                <div class="about__left__video__parallax__wrapper">
                    <div
                        class="about__left__video__parallax__scene"
                        data-parallax-scene
                    >
                        <div
                            class="about__left__video__parallax__img"
                            data-lazy-bg="img/about-parallax-1.png"
                            data-depth="0.7"
                        ></div>
                    </div>
                </div>
                <div class="about__left__video__parallax__wrapper">
                    <div
                        class="about__left__video__parallax__scene"
                        data-parallax-scene
                    >
                        <div
                            class="about__left__video__parallax__img"
                            data-lazy-bg="img/about-parallax-2.png"
                            data-depth="1"
                        ></div>
                    </div>
                </div>
                <div
                    data-fancybox="about_video"
                    data-src="https://youtu.be/_uVlReR2SOw"
                    class="about__left__video"
                    data-lazy-bg="img/about.jpeg"
                >
                    <img
                        class="about__left__video__play"
                        src="img/play.svg"
                        alt=""
                    />
                </div>
            </div>

            <div class="about__left__text editor">
                <p>
                    Группа компаний "СпецВодСтрой" занимается частными и
                    промышленными буровыми работами больше 15 лет. Наши буровые
                    мастера и гидрогеологи добиваются бесперебойной подачи
                    чистой воды даже в сложных гидрогеологических условиях.
                    <br />
                    <br />
                    Это сложный инженерный и гидротехнический процесс. Малейший
                    просчет в этом деле грозит пагубными последствиями для
                    здоровья и экологии. Поэтому такие работы стоит доверять
                    только проверенным компаниям, которые заведут чистую воду в
                    дом, не разрушив ландшафт.
                </p>
            </div>
            <div class="about__left__socials">
                <a
                    href=""
                    class="about__left__social"
                    data-lazy-bg="img/vk.svg"
                ></a>
                <a
                    href=""
                    class="about__left__social"
                    data-lazy-bg="img/fb.svg"
                ></a>
                <a
                    href=""
                    class="about__left__social"
                    data-lazy-bg="img/youtube.svg"
                ></a>
                <a
                    href=""
                    class="about__left__social"
                    data-lazy-bg="img/ig.svg"
                ></a>
                <a
                    href=""
                    class="about__left__social"
                    data-lazy-bg="img/tt.svg"
                ></a>
            </div>
        </div>
    </div>
</section>
<!-- ================================================================ -->
<!-- ======================= END about ============================== -->
<!-- ================================================================ -->
{% include 'partials/_sertificates.html' %}
<section class="sec white">
    <div class="container">
        <h2 class="sec__title">Текст</h2>
        <br />
        <div class="editor">
            <p>
                Кстати, сторонники тоталитаризма в науке своевременно
                верифицированы. Мы вынуждены отталкиваться от того, что
                высокотехнологичная концепция общественного уклада создаёт
                предпосылки для распределения внутренних резервов и ресурсов.
                Внезапно, акционеры крупнейших компаний объединены в целые
                кластеры себе подобных. Как уже неоднократно упомянуто,
                сторонники тоталитаризма в науке, превозмогая сложившуюся
                непростую экономическую ситуацию, ассоциативно распределены по
                отраслям. Лишь диаграммы связей, инициированные исключительно
                синтетически, функционально разнесены на независимые элементы.
                Господа, новая модель организационной деятельности прекрасно
                подходит для реализации анализа существующих паттернов
                поведения.
            </p>
            <p>
                Банальные, но неопровержимые выводы, а также ключевые
                особенности структуры проекта лишь добавляют фракционных
                разногласий и рассмотрены исключительно в разрезе маркетинговых
                и финансовых предпосылок. Современные технологии достигли такого
                уровня, что базовый вектор развития способствует повышению
                качества существующих финансовых и административных условий.
            </p>
            <p>
                Ясность нашей позиции очевидна: дальнейшее развитие различных
                форм деятельности, а также свежий взгляд на привычные вещи -
                безусловно открывает новые горизонты для инновационных методов
                управления процессами. Мы вынуждены отталкиваться от того, что
                курс на социально-ориентированный национальный проект, в своём
                классическом представлении, допускает внедрение системы
                массового участия. Для современного мира современная методология
                разработки требует определения и уточнения кластеризации усилий.
                Учитывая ключевые сценарии поведения, граница обучения кадров в
                значительной степени обусловливает важность дальнейших
                направлений развития.
            </p>
        </div>
    </div>
</section>
<!-- ================================================================ -->
<!-- ==================== END populars ============================== -->
<!-- ================================================================ -->
{% include 'partials/_promotion.html' %}
<!-- ================================================================ -->
<!-- ================= additionalservices =========================== -->
<!-- ================================================================ -->
<section class="additionalservices">
    <div class="container">
        <div class="additionalservices__content">
            <h2 class="sec__title">Цена бурения скважины на песок</h2>
            <div class="additionalservices__items">
                <!-- additionalservices__item -->
                <div class="additionalservices__item">
                    <div class="additionalservices__item__title">
                        1. Услуга по бурению и обслуживанию
                    </div>
                    <div class="additionalservices__item__price">
                        55 000 руб.
                    </div>
                    <button class="btn additionalservices__item__btn">
                        Подробнее
                    </button>
                </div>
                <!-- END additionalservices__item -->
                <!-- additionalservices__item -->
                <div class="additionalservices__item">
                    <div class="additionalservices__item__title">
                        2. Услуга по бурению и обслуживанию скважины
                    </div>
                    <div class="additionalservices__item__price">
                        55 000 руб.
                    </div>
                    <button class="btn additionalservices__item__btn">
                        Подробнее
                    </button>
                </div>
                <!-- END additionalservices__item -->
                <!-- additionalservices__item -->
                <div class="additionalservices__item">
                    <div class="additionalservices__item__title">
                        3. Услуга по бурению
                    </div>
                    <div class="additionalservices__item__price">
                        55 000 руб.
                    </div>
                    <button class="btn additionalservices__item__btn">
                        Подробнее
                    </button>
                </div>
                <!-- END additionalservices__item -->
                <!-- additionalservices__item -->
                <div class="additionalservices__item">
                    <div class="additionalservices__item__title">
                        4. Услуга по обслуживанию скважины
                    </div>
                    <div class="additionalservices__item__price">
                        55 000 руб.
                    </div>
                    <button class="btn additionalservices__item__btn">
                        Подробнее
                    </button>
                </div>
                <!-- END additionalservices__item -->
                <!-- additionalservices__item -->
                <div class="additionalservices__item">
                    <div class="additionalservices__item__title">
                        5. Услуга по бурению
                    </div>
                    <div class="additionalservices__item__price">
                        55 000 руб.
                    </div>
                    <button class="btn additionalservices__item__btn">
                        Подробнее
                    </button>
                </div>
                <!-- END additionalservices__item -->
                <!-- additionalservices__item -->
                <div class="additionalservices__item">
                    <div class="additionalservices__item__title">
                        6. Услуга по бурению и обслуживанию
                    </div>
                    <div class="additionalservices__item__price">
                        55 000 руб.
                    </div>
                    <button class="btn additionalservices__item__btn">
                        Подробнее
                    </button>
                </div>
                <!-- END additionalservices__item -->
                <!-- additionalservices__item -->
                <div class="additionalservices__item">
                    <div class="additionalservices__item__title">
                        7. Услуга по бурению и обслуживанию скважины
                    </div>
                    <div class="additionalservices__item__price">
                        55 000 руб.
                    </div>
                    <button class="btn additionalservices__item__btn">
                        Подробнее
                    </button>
                </div>
                <!-- END additionalservices__item -->
            </div>
        </div>
    </div>
</section>
<!-- ================================================================ -->
<!-- ============= END additionalservices =========================== -->
<!-- ================================================================ -->
{% include 'partials/_formblock.html' %} {% include 'partials/_command.html' %}
{% include 'partials/_clients.html' %} {% include 'partials/_worksmap.html' %}
{% include 'partials/_reviews.html' %} {% include 'partials/_faq.html' %} {%
include 'partials/_faq__quizblock.html' %} {% endblock %}
